@font-face {
  font-family: Nunito;
  src: url("NunitoSans-Light.ttf");
}

* {
  box-sizing: border-box;
 }

 html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
 background-color: #ffffff;
}

body {
  font-family: 'Nunito', sans-serif;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #829985;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 4px;
  width: 0px;
  background: #0a6363;
  transition: .5s;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.10em; 
  transition: color .5s;
}
.nav-item a:hover {
  color: #000000;
}

.profile {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-bottom: 5px solid #ddd;
}

.profile-photo {
  display: flex;
  align-items: center;
}

.photo {
  width: 200px;
  height: 200px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contacts-list, .summary, .education, .experience, .skills, .code {
  border-bottom: 5px solid #ddd;
}

.phone {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/phone.svg");
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}
.email {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/email.svg");
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}

.telegram {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/telegram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}

.discord {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/discord.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}

.github {
  width: 32px;
  height: 32px;
  background-image: url("./assets/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}

.contacts-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.contacts-list a:hover {
  color: #0a6363;
  text-decoration: underline;
}

.contacts-list {
  list-style: none;
}


.information {
  padding-left: 40px;
}

.footer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #829985;
}

.rsschool {
  width: 100px;
  height: 40px;
  background-image: url(https://rs.school/images/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.link {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.10em; /
  transition: color .5s;
}
.link:hover {
  color: #000000;
  text-decoration: underline;
}
